.panel {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 15.25rem;
  margin-top: calc(4rem + 27px);
  text-align: center;
  width: 46rem;
}

.wrapper {
  display: flex;
}

.panel header {
  color: var(--grey-200);
  display: flex;
  justify-content: space-between;
}

.created {
  color: var(--blue-300);
}

.concluded {
  color: var(--purple-300);
}

.content {
  border-radius: 8px;
  border-top: 1px solid var(--grey-400);
  margin-top: 1.5rem;
  padding: 4rem 1.5rem;
}

.content img {
  margin-bottom: 1rem;
}

.content p:last-child {
  line-height: 1.4;
  font-weight: 400;
}
