.task {
  align-items: flex-start;
  background: var(--grey-500);
  border: 1px solid var(--grey-400);
  border-radius: 8px;
  box-shadow: 0px 2px 8px var(--black-shadow);
  color: var(--grey-100);
  display: flex;
  line-height: 140%;
  min-height: 4.5rem;
  padding: 1rem;
  width: 46rem;
}

.task p {
  font-size: 0.875rem;
  max-width: 40rem;
  padding-right: 0.75rem;
  text-align: justify;
  word-wrap: break-word;
}

.delete {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: var(--grey-300);
  cursor: pointer;
  line-height: 0;
  margin-left: auto;
}

.delete:hover {
  color: var(--red-500);
}
