.task {
  align-items: flex-start;
  background: var(--grey-500);
  border: 1px solid var(--grey-400);
  border-radius: 8px;
  box-shadow: 0px 2px 8px var(--black-shadow);
  color: var(--grey-100);
  display: flex;
  line-height: 140%;
  min-height: 4.5rem;
  padding: 1rem;
  width: 46rem;
}

.uncheckedTask {
  font-size: 0.875rem;
  font-weight: 400;
  max-width: 40rem;
  padding-right: 0.75rem;
  text-align: justify;
  word-wrap: break-word;
}

.checkedTask {
  color: var(--grey-300);
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: line-through;
}

.delete {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: var(--grey-300);
  cursor: pointer;
  line-height: 0;
  margin-left: auto;
}

.delete:hover {
  color: var(--red-500);
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: calc(24px + 0.75rem);
  margin-bottom: 1.5rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  background: none;
  border: 2px solid var(--blue-300);
  border-radius: 50%;
  position: absolute;
  height: 1.5rem;
  left: 0;
  top: 0;
  width: 1.5rem;
}

.container:hover input ~ .checkmark {
  border: 2px solid var(--blue-700);
}

.container input:checked ~ .checkmark {
  background: var(--purple-600);
  border: none;
}

.container:hover input:checked ~ .checkmark {
  background-color: var(--purple-300);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--grey-100);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
